nav {
  /* border-bottom: 1px solid #fbbb00; */
  box-shadow: 0px 0px 5px rgb(34, 34, 34);
}

.logoTecSur {
  width: 5rem;
}

@media (min-width: 768px) {

  /* logica */
  .logoTecSur {
    width: 9rem;
  }
}

.fondo {

  background-color: #0a335cd5;
  /* background-color: #0066cce7; */


  padding: 0.2rem;
}

.fondo-dos {
  background-color: #fbbb00;
  border: 1px solid rgb(219, 219, 219);
}

.titulo-menu {
  display: none;
}

@media (min-width: 1429px) {
  .titulo-menu {
    display: initial;
  }
}

div.logo-menu a.navbar-brand {
  font-size: 2rem;
  font-family: 'PT Sans',
    sans-serif;
}

div.logo-menu div ul li a {
  font-size: 1.2rem;
  font-family: 'Oswald',
    sans-serif
}

div.logo-menu div ul li a:hover {
  /* color: #fe4918; */

  border-bottom: 2px solid #fbbb00;
}

/* Estilo de con typeScript */
.linea-activada {
  border-bottom: 2px solid #fbbb00;
  color: aliceblue;
}

.reservaciones {
  /* margin-left: 20px; */
  /* padding: 15px !important;  */
  border: 1px solid #fbbb00;
  transition-duration: 0.6s;
}

@media (min-width: 992px) {

  /* logica */
  .reservaciones {
    margin-left: 20px;
  }
}

.reservaciones:hover {
  background-color: #fbbb00;
  color: white !important;
}

.peque {
  font-size: 0.75rem;
  color: #888888d3;

}

.peque span {
  color: #0a335cd5;
  font-weight: bold;
  font-size: 1rem;
}

.barrita {

  /* color: aliceblue !important; */
  border-right: 1px solid aliceblue;
}

.index {
  z-index: 1000;
}

.fixed-top2 {
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  z-index: 1030;
}
