<nav class="navbar navbar-expand-lg navbar-dark fondo animated fadeIn fast index fixed-top2" id="menuMain">

  <div class="container-fluid logo-menu" id="">

    <a class="navbar-brand" href="#"><img class="img-fluid logoTecSur" src="../../../assets/img/imgLogo.png"
        alt="Logo tecnologico del sur"><span class="ml-3 titulo-menu">JAC
        <strong>Bolivia</strong></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active" routerLinkActive="active">
          <a (click)="this.inicio()" class="nav-link inicio" [routerLink]="[ '/home']">INICIO <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link acerca" [routerLink]="[ '/acerca']">ACERCA DE JAC
            BOLIVIA</a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle admiciones" href="#" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            CARRERAS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div *ngFor="let item of this.nuevaListaCarreras" class="" id="">
              <a class="dropdown-item" [routerLink]="[ 'carreras',item.id]">{{ item.titulo }}</a>

            </div>
          </div>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link defensa" [routerLink]="[ '/defensas','D']">DEFENSAS DE GRADO</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link agasajo" [routerLink]="[ '/agasajos','A']">AGASAJOS DE GRADO</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link contacto" [routerLink]="[ '/contacto']">CONTACTO</a>
        </li>

        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            MÁS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <div class="" id="">
              <a class="dropdown-item" href="https://jacbolivia2000.com/moodle/"  target="_blank">AULA VIRTUAL</a>
            </div>
            <div class="" id="">
              <a class="dropdown-item" [routerLink]="[ '/reflexiones']">REFLEXIONES</a>
            </div>
            <div class="" id="">
              <a class="dropdown-item" [routerLink]="[ '/videos','lista-videos']">VIDEOS</a>
            </div>
            <div *ngFor="let item of this.nuevaListaWebPages" class="" id="">
              <a class="dropdown-item" [routerLink]="[ 'carreras',item.id]">{{ item.titulo }}</a>
            </div>
          </div>

        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link reservaciones" [routerLink]="[ '/inscribete']">INSCRIPCIÓN EN LINEA</a>
        </li>
      </ul>
    </div>

  </div>

</nav>
