<div class="jumbotron gracias animated fadeIn fast">
  <p class="display-4">Hola, {{ this.nombres }} {{ this.paterno }}!</p>
  <p class="lead lineas">Bienvenido (a) a ser parte de nuestro Instituto Tecnologico Jac Bolivia 2000. Siempre
    se agradece que
    lleguen nuevas generaciones, con
    distintas motivaciones, ideas y creaciones.</p>
  <hr class="my-4">
  <p>Un agente de nuestra institución se comunicará con usted a la brevedad.</p>
  <a class="btn btn-info btn-lg" href="#" role="button" (click)="this.inicio()">JAC BOLIVIA 2000</a>
</div>
