<div class="container-fluid animated fadeIn fast" id="">
  <div class="row" id="">
    <div class="col-12 imagen-contacto" id="">
      <div class="display-padre  animated fadeIn fast " id="">
        <h1 class="">CONTACTANOS</h1>
      </div>
    </div>
  </div>
</div>

<!-- Nuestras carreras -->
<div class="container animated fadeIn fast" id="">
  <!-- Nuestra historia -->
  <div class="row mt-5" id="">
    <div class="col-12 text-center" id="">
      <h2 class="mb-0">CONTACTO</h2>
      <P class="circulos"><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></P>
    </div>
  </div>
  <div class="row" id="">
    <div class="detalles-footer col-12 col-md-6" id="">
      <!-- <h3>CONTACTANOS</h3> -->
      <p><i class="fa fa-map-marker"></i> Avenida San Martin esquina Brasil Ciudad Cochabamba, Bolivia.</p>
      <p><i class="fa fa-phone-square"></i> 4559968 - 4553737</p>
      <p><i class="fa fa-whatsapp"></i> +591 70788896</p>
      <p><i class="fa fa-envelope"></i> institutojacbolivia2000@gmail.com</p>
      <!-- Redes sociales -->
      <ul class="redes-sociales-footer">
        <li><a href="https://www.facebook.com/JacBolivia"><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-whatsapp"></i></a></li>
      </ul>
    </div>
    <div class="col-12 col-md-6" id="">
      <h3>¿QUIERES SER PARTE DE JAC BOLIVIA?</h3>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Nombres y apellidos</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Celular</label>
          <input type="password" class="form-control" id="exampleInputPassword2">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Correo</label>
          <input type="password" class="form-control" id="exampleInputPassword3">
        </div>
        <p>Envia tus datos jac bolivia se comunicara con usted.</p>
        <button type="submit" class="btn btn-secondary">QUIERO MAS INFORMACIÓN</button>
      </form>
    </div>
  </div>
</div>

<div class="container-fluid" id="">
  <div class="row mt-5" id="">
    <div class="col-12 text-center" id="">
      <h2 class="mb-0">NUESTRA UBICACIÓN</h2>
      <P class="circulos"><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i>
      </P>
    </div>
  </div>
  <div class="row mt-2 border" id="">
    <div class="col-12 mapa" id="mapa">
    </div>
  </div>
</div>
<!-- seccion whatsapp en la web -->
<div class="container-redes animated fadeIn fast" id="">
  <a href="http://m.me/JacBolivia" target="_blank"><img class="img1 text-white" src="../../../assets/img/messenger2.svg"
      title="Enviar mensage por facebook" alt="Imagen facebook"></a>
  <a href="https://api.whatsapp.com/send?phone=+591 70788896&text=Deseo comunicarme con Jac Bolivia."
    target="_blank"><img class="img2" src="../../../assets/img/whatsapp2.svg" title="Enviar mensaje por whatsapp"
      alt="Imagen whatsapp"></a>
</div>
<!-- fin seccion whatsapp en la web -->
