<div id="carouselExampleControls" class="carousel slide animated fadeIn fast" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="img1" id="">
        <div class="" id="">
          <div class="display-padre  animated fadeIn fast " id="">
            <h1>TU FUTURO ESTA CON NOSOTROS</h1>
          </div>
        </div>
      </div>
      <!-- <img src="../../../assets/img/estudiante.jpg" class="d-block w-100" alt="imagen1"> -->
    </div>
    <div class="carousel-item">

      <div class="img2" id="">
        <div class="" id="">
          <div class="display-padre  animated fadeIn fast " id="">
            <h1>SECRETARIADO | ADMINISTRACIÓN | CONTADURIA | INGLES | COMPUTACIÓN</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="img3" id="">
        <div class="" id="">
          <div class="display-padre  animated fadeIn fast " id="">
            <h1>LA CALIDAD ES NUESTRA LA DECISIÓN ES TUYA</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="bg-yellow" aria-hidden="true">PREV</span>
    <span class="sr-only">PREV</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="bg-yellow" aria-hidden="true">NEXT</span>
    <span class="sr-only">NEXT</span>
  </a>
</div>
