<div id="carouselExampleControls" class="carousel slide animated fadeIn fast sombra" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div *ngIf="this.imagenUno" class="img3"
        [ngStyle]="{'background-image': 'url(' + this.urlImagen + this.imagenUno + ')'}" class="img1">

        <div class="display-padre ">
          <h1 class="animated fadeInLeftBig">{{ this.tituloUno }}</h1>
          <!-- <h1>EL FRACASO TIENE MIL EXCUSAS, EL EXITO NO REQUIERE EXPLICACION</h1> -->
        </div>

      </div>
      <!-- <img src="../../../assets/img/estudiante.jpg" class="d-block w-100" alt="imagen1"> -->
    </div>
    <div class="carousel-item">

      <div *ngIf="this.imagenDos" class="img2"
        [ngStyle]="{'background-image': 'url(' + this.urlImagen +this.imagenDos + ')'}">

        <div class="display-padre" id="">
          <h1 class="animated fadeInLeftBig">{{ this.tituloDos }}</h1>
        </div>

      </div>
    </div>
    <div class="carousel-item">
      <div *ngIf="this.imagenTres" class="img3"
        [ngStyle]="{'background-image': 'url(' + this.urlImagen + this.imagenTres + ')'}">

        <div class="display-padre" id="">
          <h1 class="animated fadeInLeftBig">{{ this.tituloTres }}</h1>
        </div>

      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="bg-yellow" aria-hidden="true">PREV</span>
    <span class="sr-only">PREV</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="bg-yellow" aria-hidden="true">NEXT</span>
    <span class="sr-only">NEXT</span>
  </a>
</div>
