<!-- Nuestras carreras -->
<div class="container animated fadeIn fast" id="">
  <div class="row mt-4" id="">
    <div class="col-12 text-center" id="">
      <h2 class="mb-0">NUESTRAS CARRERAS</h2>
      <P class="circulos"><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></P>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque amet non, libero, rem illum repellendus ad
        necessitatibus, quos facilis impedit ea! Officiis mollitia eum doloribus quia. Harum ipsum voluptatem itaque!
      </p>
    </div>
  </div>
</div>
<div class="container animated fadeIn fast" id="">
  <div class="row m-2" id="">
    <div class="col-12 flex-padre" id="">

      <div class="carrera-academica mb-5" id="">
        <img class="img-fluid" src="./../../../assets/img/estudiante.jpg" alt="Computacion">
        <h1 class="mt-2">COMPUTACIÓN</h1>
        <p>
          Administración de Empresas, Contaduría Pública, Economía.</p>
      </div>
      <div class="carrera-academica mb-5" id="">
        <img class="img-fluid" src="./../../../assets/img/estuden2.jpg" alt="Computacion">
        <h1 class="mt-2">ADMINISTRACIÓN</h1>
        <p>
          Administración de Empresas, Contaduría Pública, Economía.</p>
      </div>
      <div class="carrera-academica mb-5" id="">
        <img class="img-fluid" src="./../../../assets/img/estudiante.jpg" alt="Computacion">
        <h1 class="mt-2">COMPUTACIÓN</h1>
        <p>
          Administración de Empresas, Contaduría Pública, Economía.</p>
      </div>
      <div class="carrera-academica mb-5" id="">
        <img class="img-fluid" src="./../../../assets/img/estuden2.jpg" alt="Computacion">
        <!-- <div class="img-carrera" id="">
        </div> -->
        <h1 class="mt-2">SECRETARIADO</h1>
        <p>
          Administración de Empresas, Contaduría Pública, Economía.</p>
      </div>
      <div class="carrera-academica mb-5" id="">
        <img class="img-fluid" src="./../../../assets/img/estuden2.jpg" alt="Computacion">
        <h1 class="mt-2">CONTADURIA</h1>
        <p>
          Administración de Empresas, Contaduría Pública, Economía.</p>
      </div>
      <div class="carrera-academica mb-5" id="">
        <img class="img-fluid" src="./../../../assets/img/laptop.jpg" alt="Computacion">
        <h1 class="mt-2">INGLES</h1>
        <p>
          Administración de Empresas, Contaduría Pública, Economía.</p>
      </div>
    </div>
  </div>
</div>

<!-- Noticias destacadas -->
<div class="container-fluid animated fadeIn fast" id="">
  <div class="row mt-4" id="">
    <div class="col-12 text-center" id="">
      <h2 class="mb-0">NOTICIAS DESTACADAS</h2>
      <P class="circulos"><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></P>
    </div>
    <div class="col-12" id="">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active ">
            <div class="flex-noticias" id="">
              <!-- 1 -->
              <div class="tarjeta" id="">
                <img class="img-fluid img-thumbnail" src="./../../../assets/img/estudiante.jpg" alt="">
                <h4>!SOMOS CAMPEONES</h4>
                <P>Cochabamba, 20 de septiembre de 2020</P>
                <button class="btn btn-danger">VER MAS</button>
              </div>
              <!-- 2 -->
              <div class="tarjeta" id="">
                <img class="img-fluid img-thumbnail" src="./../../../assets/img/estudiante.jpg" alt="">
                <h4>!SOMOS CAMPEONES</h4>
                <P>Cochabamba, 20 de septiembre de 2020</P>
                <button class="btn btn-danger">VER MAS</button>
              </div>
              <!-- 3 -->
              <div class="tarjeta" id="">
                <img class="img-fluid img-thumbnail" src="./../../../assets/img/estudiante.jpg" alt="">
                <h4>!SOMOS CAMPEONES</h4>
                <P>Cochabamba, 20 de septiembre de 2020</P>
                <button class="btn btn-danger">VER MAS</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="flex-noticias" id="">
              <!-- 1 -->
              <div class="tarjeta" id="">
                <img class="img-fluid img-thumbnail " src="./../../../assets/img/estuden2.jpg" alt="">
                <h4>!SOMOS CAMPEONES</h4>
                <P>Cochabamba, 20 de septiembre de 2020</P>
                <button class="btn btn-danger">VER MAS</button>
              </div>
              <!-- 2 -->
              <div class="tarjeta" id="">
                <img class="img-fluid img-thumbnail" src="./../../../assets/img/estuden2.jpg" alt="">
                <h4>!SOMOS CAMPEONES</h4>
                <P>Cochabamba, 20 de septiembre de 2020</P>
                <button class="btn btn-danger">VER MAS</button>
              </div>
              <!-- 3 -->
              <div class="tarjeta" id="">
                <img class="img-fluid img-thumbnail" src="./../../../assets/img/estuden2.jpg" alt="">
                <h4>!SOMOS CAMPEONES</h4>
                <P>Cochabamba, 20 de septiembre de 2020</P>
                <button class="btn btn-danger">VER MAS</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="flex-noticias" id="">
              <!-- 1 -->
              <div class="tarjeta" id="">
                <img class="img-fluid img-thumbnail" src="./../../../assets/img/estudent3.jpg" alt="">
                <h4>!SOMOS CAMPEONES</h4>
                <P>Cochabamba, 20 de septiembre de 2020</P>
                <button class="btn btn-danger">VER MAS</button>
              </div>
              <!-- 2 -->
              <div class="tarjeta" id="">
                <img class="img-fluid img-thumbnail" src="./../../../assets/img/estudent3.jpg" alt="">
                <h4>!SOMOS CAMPEONES</h4>
                <P>Cochabamba, 20 de septiembre de 2020</P>
                <button class="btn btn-danger">VER MAS</button>
              </div>
              <!-- 3 -->
              <div class="tarjeta" id="">
                <img class="img-fluid img-thumbnail" src="./../../../assets/img/estudent3.jpg" alt="">
                <h4>!SOMOS CAMPEONES</h4>
                <P>Cochabamba, 20 de septiembre de 2020</P>
                <button class="btn btn-danger">VER MAS</button>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Mapa del instituto -->
<div class="container-fluid animated fadeIn fast" id="">
  <div class="row mt-5" id="">
    <div class="col-12 text-center" id="">
      <h2 class="mb-0">NUESTRA UBICACIÓN</h2>
      <P class="circulos"><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></P>
    </div>
  </div>
  <div class="row mt-2 border" id="">
    <div class="col-12 mapa" id="mapa">
    </div>
  </div>
</div>

<!-- Eventos del instituto -->
<div class="container-fluid animated fadeIn fast" id="">
  <div class="row mt-5" id="">
    <div class="col-12 text-center" id="">
      <h2 class="mb-0">EVENTOS</h2>
      <P class="circulos"><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></P>
    </div>
  </div>
</div>
<div class="container animated fadeIn fast" id="">
  <div class="row mt-2" id="">
    <div class="col-12" id="">
      <div class="flex-eventos row" id="">
        <!-- 1 -->
        <div class="tarjeta-eventos col-lg-4" id="">
          <img class="img-fluid" src="./../../../assets/img/estudiante.jpg" alt="">
          <h4>!SOMOS CAMPEONES</h4>
          <P>Cochabamba, 20 de septiembre de 2020</P>
          <button class="btn btn-warning btn-block">VER MAS</button>
        </div>
        <!-- 2 -->
        <div class="tarjeta-eventos col-lg-4" id="">
          <img class="img-fluid" src="./../../../assets/img/estudiante.jpg" alt="">
          <h4>!SOMOS CAMPEONES</h4>
          <P>Cochabamba, 20 de septiembre de 2020</P>
          <button class="btn btn-warning btn-block">VER MAS</button>
        </div>
        <!-- 3 -->
        <div class="tarjeta-eventos col-lg-4" id="">
          <img class="img-fluid" src="./../../../assets/img/estudiante.jpg" alt="">
          <h4>!SOMOS CAMPEONES</h4>
          <P>Cochabamba, 20 de septiembre de 2020</P>
          <button class="btn btn-warning btn-block">VER MAS</button>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- seccion whatsapp en la web -->
<div class="container-redes animated fadeIn fast" id="">
  <a href="http://m.me/JacBolivia" target="_blank"><img class="img1 text-white" src="../../../assets/img/messenger2.svg"
      title="Enviar mensage por facebook" alt="Imagen facebook"></a>
  <a href="https://api.whatsapp.com/send?phone=76931047&text=Deseo comunicarme con una Agente de Ventas."
    target="_blank"><img class="img2" src="../../../assets/img/whatsapp2.svg" title="Enviar mensaje por whatsapp"
      alt="Imagen whatsapp"></a>
</div>
<!-- fin seccion whatsapp en la web -->
