/* font-family: 'Open Sans',
sans-serif;
font-family: 'Roboto',
sans-serif; */
/* @import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800); */

.circulos i {
  margin: 0px 5px;
  color: #ffb606;
  ;
}


.btn-instituto {
  background-color: #0d4074;
  color: white;
  ;
}

/* .flex-padre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
} */

/* .carrera-academica {
  flex-basis: calc(50% - 2rem);
} */

.carrera-academica .imagen-contacto {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
  border-color: #000000;
  border-radius: 0.5rem;
  transition: all .5s ease;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0.5rem;
}

.carrera-academica .imagen-contacto:hover {
  /* border: 1px solid #ffb606; */
  /* filter: grayscale(1); */
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.6);

}

.carrera-academica h2 {
  color: #353535d0;
  font-size: 1.8rem !important;
  font-weight: bold;
}

.img-carrera {
  background-image: url(./../../../assets/img/estudiante.jpg);
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-size: contain;
}

.tarjeta {
  padding: 5px;
  width: 400px;
}

@media (min-width: 992px) {

  /* logica */
  .tarjeta {
    padding: 3px;
  }
}

@media (min-width: 1200px) {

  /* logica */
  .tarjeta {
    padding: 1px;
  }
}

.tarjeta img {
  /* width: 500px; */
  border-radius: 0.5rem;
}

.flex-noticias {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}



@media (min-width: 768px) {

  /* logica */
  .flex-eventos {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* Sector tarjeta */
.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.contenedor .tarjeta {
  /* width: 300px; */
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  /* box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  overflow: hidden;
  margin-bottom: 20px;
  text-align: center;
  transition: all 0.25s;
  cursor: pointer;
}

@media (min-width: 768px) {

  /* logica */
  .contenedor .tarjeta {
    margin: 20px;
  }
}

.contenedor .tarjeta:hover {
  transform: translateY(-15px);
  /* box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contenedor .tarjeta img {
  /* width: 300px; */
  height: auto;
}

.contenedor .tarjeta h4 {
  font-weight: 600;
  margin-top: 20px;
}

.contenedor .tarjeta p {
  padding: 0px 1rem;
  font-size: 0.9rem;
  font-weight: 300px;
  font-family: 'Open Sans',
    sans-serif;
}

.contenedor .tarjeta a {
  font-weight: 300;
  text-decoration: none;
  /* color: #3498db; */
}

/* Fin sector tarjeta */


/* Mapa del evento */
.mapa {
  height: 450px;
  /* background-color: #ffb606; */
  /* background-image: url(../../../assets/img/imgenLogo.png); */
}

.img-posision {
  position: relative;
}

.img-posision img {
  width: 100%;
}

.inscribete {
  position: absolute;
  bottom: 0%;
  right: 0%;
  transition-duration: 0.6s;
}

.imagen-contacto {
  background-position: center center;
  background-size: cover;
  height: 12rem;
  background-repeat: no-repeat;
  /* display: flex;
  justify-self: flex-start; */
}

@media (min-width: 575px) {

  /* logica */
  .imagen-contacto {
    height: 15rem;
  }
}

@media (min-width: 768px) {

  /* logica */
  .imagen-contacto {
    height: 12rem;
  }
}

@media (min-width: 1200px) {

  /* logica */
  .imagen-contacto {
    height: 20rem;
  }
}


.carousel-control-prev {
  width: 20px !important;
  font-size: 2rem !important;
  color: #ffb606 !important;
}

.carousel-control-next {
  width: 20px !important;
}

.img-noticias {
  /* background-image: url(../../../assets/img/contactanos.jpg); */
  background-position: center center;
  background-size: cover;
  height: 12rem;
  background-repeat: no-repeat;
  border-radius: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 1rem;
  /* animation: movimiento 30s infinite linear alternate; */
}

@media (min-width: 575px) {

  /* logica */
  .img-noticias {
    height: 18rem;
  }
}

@media (min-width: 768px) {

  /* logica */
  .img-noticias {
    height: 10rem;
  }

  .flex-noticias {
    flex-wrap: nowrap;
  }

  /* logica */
  .flex-noticias .tarjeta {
    flex-basis: calc(33.3% - 0.2rem);
  }

}

@media (min-width: 992px) {



  .flex-noticias {
    justify-content: space-between;
  }

  .img-noticias {
    height: 13rem;
  }

}

@media (min-width: 1200px) {

  /* logica */
  .img-noticias {
    height: 17rem;
  }

}


.img-correo {
  /* background-image: url(../../../assets/img/contactanos.jpg); */
  background-position: center center;
  background-size: cover;
  height: 28rem;
  background-repeat: no-repeat;
  /* animation: movimiento 30s infinite linear alternate; */
}

.contactanos {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.contactos h1 {
  color: #fff;
  font-size: 2rem;
  line-height: 50px;
  text-shadow: 0px 3px #353535;
  font-family: 'PT Sans',
    sans-serif !important;
}

@media (min-width: 768px) {

  /* logica */
  .contactos h1 {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {

  /* logica */
  .contactos h1 {
    font-size: 3.5rem;
  }

}

.contactos button {
  padding: 1rem 1.5rem;
  background-color: transparent;
  border: 2px solid #ffb606;
  color: #fff;
  font-size: 1.2rem;
  /* font-weight: bold; */
  transition-duration: 0.5s;
  font-family: 'Oswald',
    sans-serif !important;
}

.boton-carrera {
  padding: 1rem 1.5rem;
  background-color: #3333338e;
  border: 2px solid #ffb606;
  color: #fff;
  font-size: 1.2rem;
  /* font-weight: bold; */
  transition-duration: 0.5s;
  font-family: 'Oswald',
    sans-serif !important;
}

.boton-carrera:hover {
  background-color: #ffb606;
  color: #000000;
}

.contactos button:hover {
  background-color: #ffb606;
  color: #000000;
}

.ver-mas {
  font-family: 'Raleway',
    Arial,
    sans-serif;
  color: #fff;
}


/* @import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800); */

figure.snip0015 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  /* min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%; */
  background: #000000;
  text-align: center;
}

figure.snip0015 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

figure.snip0015 .img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.snip0015 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3em 3em;
  width: 100%;
  height: 100%;
}

figure.snip0015 figcaption::before {
  position: absolute;
  top: 50%;
  right: 30px;
  bottom: 50%;
  left: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

figure.snip0015 h2,
figure.snip0015 p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s, -o-transform 0.35s, transform 0.35s;
}

figure.snip0015 h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

figure.snip0015 h2 span {
  font-weight: 800;
}

figure.snip0015 p {
  font-weight: 200;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

figure.snip0015 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}

figure.snip0015:hover .img {
  opacity: 0.35;
}

figure.snip0015:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

figure.snip0015:hover figcaption p {
  opacity: 0.9;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

figure.snip0015:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  top: 30px;
  bottom: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.img {

  background-position: center center;
  background-size: cover;
  height: 20rem;
  background-repeat: no-repeat;

}

.letras {
  font-family: 'Roboto',
    sans-serif;
  font-size: 1rem !important;
}
