<div class="container-fluid animated fadeIn fast" id="">
  <div class="row justify-content-center sms-inscripcion" id="">
    <div class="col-11  col-xl-7 borde-info p-4 titulo-bienvenido" id="">
      <div class="card" id="">
        <div class="card-body fondo-card-body" id="">
          <div class="row" id="">
            <a class="col-12 col-xl-2">
              <img class="img-fluid imagen-logo" src="../../../assets/img/imgLogo.png"
                alt="Logo tecnologico del sur"></a>
            <h2 class="col-12 col-xl-10 text-white mb-0 mt-3"> INSTITUTO TÉCNICO SUPERIOR JAC
              BOLIVIA 2000</h2>
          </div>
        </div>
      </div>
      <h2 class="text-dark mt-4">BIENVENIDA (O)</h2>
      <h2 class="text-dark"> Al Sistema de Inscripciones para Nuevos Estudiantes .
      </h2>
      <p> Si quieres registrar tu solicitud de inscripción por primera vez, debes contar con los siguientes documentos:
      </p>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Título de Bachiller</strong> (provisionalmente puedes
        presentar algún
        documento que
        certifique el
        bachillerato).
      </p>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Carnet de Identidad</strong> (anverso y reverso).</p>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Constancia de depósito</strong> (Derecho a
        inscripción)</p>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Certificado de nacimiento</strong> </p>
      <p>Y luego haz clic con el mouse en el botón de: <strong>INICIAR INSCRIPCIÓN.</strong></p>


      <button class="btn btn-success btn-lg mt-4" [routerLink]="[ '/inscripcion']">INICIAR INSCRIPCIÓN <i
          class="fa fa-address-card"></i> </button>

    </div>

  </div>

</div>
<!-- seccion whatsapp en la web -->
<div class="container-redes animated fadeIn fast" id="">
  <a href="http://m.me/JacBolivia" target="_blank"><img class="img1 text-white" src="../../../assets/img/messenger2.svg"
      title="Enviar mensage por facebook" alt="Imagen facebook"></a>
  <a [href]="'https://api.whatsapp.com/send?phone='+this.listaAcerca?.whatsapp+'&text=Deseo comunicarme con Jac Bolivia.'"
    target="_blank"><img class="img2" src="../../../assets/img/whatsapp2.svg" title="Enviar mensaje por whatsapp"
      alt="Imagen whatsapp"></a>
</div>
<!-- fin seccion whatsapp en la web -->
