.imagen-contacto {
  /* background-image: url(../../../assets/img/INSCRIBETE.jpg); */
  background-position: center center;
  background-size: cover 30%;
  background-repeat: no-repeat;
  /* height: 35rem; */
  height: 100vh;
  animation: movimiento 30s infinite linear alternate;
}

@media (min-width: 1200px) {

  /* logica */
  .imagen-contacto {
    animation: movimiento 20s infinite linear alternate;
  }
}

@keyframes movimiento {
  form {
    background-position: bottom left;
  }

  to {
    background-position: top right;
  }
}

.display-padre {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.display-padre h1 {
  padding: 0.5rem 1rem !important;
  /* border: 1px solid #ffb606; */
  color: white;
  /* background-color: #ffb406a4; */
  border-radius: 0.5rem;
  font-size: 2rem;
  text-shadow: 0px 3px #353535;
  border: 3px solid #ffb606;
  background: rgba(0, 0, 0, .5);
  margin-bottom: 2rem;
}

@media (min-width: 575px) {

  /* logica */
  .display-padre h1 {
    padding: 2rem 5rem !important;
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {

  /* logica */
  .display-padre h1 {
    padding: 4rem 10rem !important;
  }
}



.circulos i {
  margin: 0px 5px;
  color: #ffb606;
  ;
}

.detalles-footer h3 span {
  color: #ffb606;
}

.redes-sociales-footer {
  display: flex;
  padding-left: 0px;
}

.redes-sociales-footer li {
  list-style: none;
}

.redes-sociales-footer a {
  color: #353535;
  font-size: 2.5rem;
  margin-right: 30px;
  transition-duration: 0.6s;
}

.redes-sociales-footer a:hover {
  color: #ffb606;
}

.detalles-footer p i {
  color: #ffb606;
  font-size: 1.5rem;
}

/* Mapa del evento */
.mapa {
  height: 400px;
  /* background-color: #ffb606; */
  /* background-image: url(../../../assets/img/imgenLogo.png); */
}

.text-color-danger {
  color: red;
}

.sms-inscripcion {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.titulo-bienvenido h2 {
  text-align: center;
}

.titulo-bienvenido p {

  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Open Sans', sans-serif !important;

}

.borde-info {
  border: 0.2rem solid#013f76;

  border-radius: 0.5rem;

  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  background-color: #ffffffff
}

.imagen-logo {
  width: 150px;
}

.fondo-card-body {
  background-color: #013f76;
}
