.carrera {
  margin-top: 8rem;
}

.circulos i {
  margin: 0px 5px;
  color: #ffb606;
  ;
}

.proposito h4 {
  border-bottom: 1px solid #ffb606;

}

.hero-acerca {
  /* background-image: url(../../../assets/img/egresado_1.jpg); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 35rem; */
  height: 100vh;
  animation: movimiento 50s infinite linear alternate;
}

@media (min-width: 1200px) {

  /* logica */
  .imagen-contacto {
    animation: movimiento 20s infinite linear alternate;
  }
}


@keyframes movimiento {
  form {
    background-position: bottom left;
  }

  to {
    background-position: top right;
  }
}

.display-padre {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.display-padre h1 {
  padding: 2rem 3.5rem !important;
  /* border: 1px solid #ffb606; */
  color: white;
  /* background-color: #ffb406a4; */
  border-radius: 0.5rem;
  text-shadow: 1px 2px #353535;
  font-size: 2.5rem;
  line-height: 45px;
  border: 3px solid #ffb606;
  background: rgba(0, 0, 0, .5);

}

@media (min-width: 768px) {

  /* logica */
  .display-padre h1 {
    /* padding: 4rem 10rem !important; */
    padding: 2rem 5rem !important;
    margin-bottom: 30px;
    font-size: 2.5rem;
  }
}

.img-acerca {
  background-position: center center;
  background-size: cover;
  height: 13rem;
  background-repeat: no-repeat;
  border-radius: 0.7rem;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  border: 0.2rem solid rgba(255, 255, 255, 0.589);
}

@media (min-width: 768px) {

  /* logica */
  .img-acerca {
    height: 13rem;
  }
}

@media (min-width: 992px) {

  /* logica */
  .img-acerca {
    height: 20rem;
  }
}

.parrafo {
  font-size: 1rem;
  line-height: 1.7rem;
  font-family: 'Open Sans',
    sans-serif !important;
}

/* Fuentes para el proyecto web 
font-family: 'Open Sans',
sans-serif;
font-family: 'Oswald',
sans-serif;
font-family: 'PT Sans',
sans-serif; */
