<div class="container-fluid animated fadeIn fast sombra" id="">
  <div class="row" id="">
    <div *ngIf="this.imagenWeb" class="col-12 hero-acerca"
      [ngStyle]="{'background-image': 'url(' + this.urlImagen +this.imagenWeb+ ')'}">

      <div class="display-padre  animated fadeIn fast " id="">
        <h1 class="">NUESTRO PRÓPOSITO</h1>
      </div>

    </div>
  </div>
</div>

<!-- Objetivo genral -->
<div class="container animated fadeIn fast" id="">
  <!-- Nuestra objetivo -->
  <div class="row mt-5" id="">
    <div class="col-12 " id="">
      <h2 class="mb-0">OBJETIVO GENERAL</h2>
      <P class="circulos"><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></P>
    </div>
    <div class="col-12" id="">
      <div class="row" id="">
        <!-- objetivo -->
        <div class="col-12 col-md-6 mt-3 mt-md-0" id="">
          <!-- <p class="text-left parrafo" style="white-space:pre-line;">
            {{ this.listaAcerca?.objetivo }}</p> -->

          <div class="ql-container ql-snow" style="border-width: 0;">
            <div class="ql-editor parrafo" [innerHTML]="this.listaAcerca?.objetivo | sanitizeHtml">
            </div>
          </div>
        </div>
        <!-- Imagen -->
        <div class="col-12 col-md-6" id="">
          <div *ngIf="!this.objetivo; else mainObjetivo" class="text-center" id="">
            <h5>Cargando...</h5>
            <!-- 1 -->
            <div class="loader loader--style1" title="0">
              <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px"
                viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                <path opacity="0.2" fill="#000"
                  d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                         s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                         c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z" />
                <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                        C22.32,8.481,24.301,9.057,26.013,10.047z">
                  <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20"
                    to="360 20 20" dur="0.5s" repeatCount="indefinite" />
                </path>
              </svg>
            </div>
            <p>Espere por favor</p>
          </div>
          <ng-template #mainObjetivo>
            <!-- <img class="img-fluid img-thumbnail" [src]="this.urlImagen+this.imagenEmpresa" alt="Foto de la empresa "> -->
            <div [ngStyle]="{'background-image':'url('+this.urlImagen + this.objetivo +' )'}" class="img-acerca" id="">
            </div>
          </ng-template>
        </div>

      </div>
    </div>
  </div>
  <br>
  <hr>

  <!-- hISTORIA -->
  <div class="row mt-5" id="">
    <div class="col-12" id="">
      <h2 class="mb-0">HISTORIA</h2>
      <P class="circulos"><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></P>
    </div>
    <div class="col-12" id="">
      <div class="row" id="">

        <!-- Historia -->
        <div class="col-12 col-md-6 mt-3 mt-md-0" id="">
          <!-- <p class="text-left parrafo" style="white-space:pre-line;">{{ this.listaAcerca?.historia }}</p> -->
          <div class="ql-container ql-snow" style="border-width: 0;">
            <div class="ql-editor parrafo" [innerHTML]="this.listaAcerca?.historia | sanitizeHtml">
            </div>
          </div>
        </div>
        <!-- Imagen -->
        <div class="col-12 col-md-6" id="">
          <div *ngIf="!this.historia ; else mainContent" class="text-center" id="">
            <h5>Cargando...</h5>
            <!-- 1 -->
            <div class="loader loader--style1" title="0">
              <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px"
                viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                <path opacity="0.2" fill="#000"
                  d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                         s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                         c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z" />
                <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                        C22.32,8.481,24.301,9.057,26.013,10.047z">
                  <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20"
                    to="360 20 20" dur="0.5s" repeatCount="indefinite" />
                </path>
              </svg>
            </div>
            <p>Espere por favor</p>
          </div>
          <ng-template #mainContent>
            <!-- <img class="img-fluid img-thumbnail" [src]="this.urlImagen+this.imagenEmpresa" alt="Foto de la empresa "> -->
            <div [ngStyle]="{'background-image':'url('+this.urlImagen + this.historia +' )'}" class="img-acerca" id="">
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <br>
  <hr>
  <!-- MISION -->
  <div class="row mt-5" id="">
    <div class="col-12" id="">
      <h2 class="mb-0">MISIÓN</h2>
      <P class="circulos"><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></P>
    </div>
    <div class="col-12" id="">
      <div class="row" id="">

        <!-- Historia -->
        <div class="col-12 col-md-6 mt-3 mt-md-0" id="">
          <!-- <p class="text-left parrafo" style="white-space:pre-line;">{{ this.listaAcerca?.mision}}</p> -->
          <div class="ql-container ql-snow" style="border-width: 0;">
            <div class="ql-editor parrafo" [innerHTML]="this.listaAcerca?.mision | sanitizeHtml">
            </div>
          </div>
        </div>
        <!-- Imagen -->
        <div class="col-12 col-md-6" id="">
          <div *ngIf="!this.mision ; else mainMision" class="text-center" id="">
            <h5>Cargando...</h5>
            <!-- 1 -->
            <div class="loader loader--style1" title="0">
              <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px"
                viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                <path opacity="0.2" fill="#000"
                  d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                         s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                         c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z" />
                <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                        C22.32,8.481,24.301,9.057,26.013,10.047z">
                  <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20"
                    to="360 20 20" dur="0.5s" repeatCount="indefinite" />
                </path>
              </svg>
            </div>
            <p>Espere por favor</p>
          </div>
          <ng-template #mainMision>
            <!-- <img class="img-fluid img-thumbnail" [src]="this.urlImagen+this.imagenEmpresa" alt="Foto de la empresa "> -->
            <div [ngStyle]="{'background-image':'url('+this.urlImagen + this.mision +' )'}" class="img-acerca" id="">
            </div>
          </ng-template>
        </div>

      </div>
    </div>
  </div>
  <br>
  <hr>
  <!-- VISION -->
  <div class="row mt-5" id="">
    <div class="col-12" id="">
      <h2 class="mb-0">VISIÓN</h2>
      <P class="circulos"><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i><i class="fa fa-circle-o"></i></P>
    </div>
    <div class="col-12" id="">
      <div class="row" id="">

        <!-- Historia -->
        <div class="col-12 col-md-6 mt-3 mt-md-0" id="">
          <!-- <p class="text-left parrafo" style="white-space:pre-line;">{{ this.listaAcerca?.vision }}</p> -->
          <div class="ql-container ql-snow" style="border-width: 0;">
            <div class="ql-editor parrafo" [innerHTML]="this.listaAcerca?.vision | sanitizeHtml">
            </div>
          </div>
        </div>
        <!-- Imagen -->
        <div class="col-12 col-md-6" id="">
          <div *ngIf="!this.vision; else mainVision" class="text-center" id="">
            <h5>Cargando...</h5>
            <!-- 1 -->
            <div class="loader loader--style1" title="0">
              <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px"
                viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                <path opacity="0.2" fill="#000"
                  d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                         s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                         c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z" />
                <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                        C22.32,8.481,24.301,9.057,26.013,10.047z">
                  <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20"
                    to="360 20 20" dur="0.5s" repeatCount="indefinite" />
                </path>
              </svg>
            </div>
            <p>Espere por favor</p>
          </div>
          <ng-template #mainVision>
            <!-- <img class="img-fluid img-thumbnail" [src]="this.urlImagen+this.imagenEmpresa" alt="Foto de la empresa "> -->
            <div [ngStyle]="{'background-image':'url('+this.urlImagen + this.vision +' )'}" class="img-acerca" id="">
            </div>
          </ng-template>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- seccion whatsapp en la web -->
<div class="container-redes animated fadeIn fast" id="">
  <a href="http://m.me/JacBolivia" target="_blank"><img class="img1 text-white" src="../../../assets/img/messenger2.svg"
      title="Enviar mensage por facebook" alt="Imagen facebook"></a>
  <a [href]="'https://api.whatsapp.com/send?phone='+this.listaAcerca?.whatsapp+'&text=Deseo comunicarme con Jac Bolivia.'"
    target="_blank"><img class="img2" src="../../../assets/img/whatsapp2.svg" title="Enviar mensaje por whatsapp"
      alt="Imagen whatsapp"></a>
</div>
<!-- fin seccion whatsapp en la web -->
