<div class="container-fluid animated fadeIn fast mt-4" id="">
  <footer class="row p-5 barra" id="">
    <div class="col-12 datos-footer" id="">

      <div class="detalles-footer" id="">
        <h3>SOBRE <span>JAC BOLIVIA 2000</span></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quaerat nihil ipsa ratione nobis ipsum
          doloremque
          culpa. Deleniti molestias amet beatae quidem soluta iste, iusto vel sunt culpa commodi atque!</p>
      </div>
      <div class="detalles-footer" id="">
        <h3>CONTENIDO</h3>
        <ul class="lista-carreras">
          <li> <a href=""> INICIO</a></li>
          <li> <a href=""> ADMICIONES</a></li>
          <li> <a href=""> ACERCA DE JAC BOLIVIA</a></li>
          <li> <a href=""> CONTACTO</a></li>
        </ul>
      </div>
      <div class="detalles-footer" id="">
        <h3>CONTACTANOS</h3>
        <p><i class="fa fa-map-marker"></i> Avenida San Martin esquina Brasil Ciudad Cochabamba, Bolivia.</p>
        <p><i class="fa fa-phone-square"></i> 4559968 - 4553737</p>
        <p><i class="fa fa-envelope"></i> institutojacbolivia2000@gmail.com</p>
        <!-- Redes sociales -->
        <ul class="redes-sociales-footer">
          <li><a href="https://www.facebook.com/JacBolivia"><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-whatsapp"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
  <div class="row derechos" id="">
    <div class="col-12" id="">
      <p class="text-center mb-0 text-white p-4 ">Todos los derechos Reservados JAC BOLIVIA 2000 © desarrollado por
        www.nikmel-bo.com</p>
    </div>
  </div>
</div>
